
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive; 
}

.container {
  width: 80%;
  margin: auto;
}

header {
  border: 2px solid black;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

span{
  font-family: 'Irish Grover', cursive;
  font-size: 40px;
}

.it-1{
  color: green;
  margin-left: -140px;
}

.alia{
  color: black;
}

.no {
  color: rgba(152, 0, 0, 1);
}


nav {
  float: right;
  margin-right: -155px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
font-weight: 800;
}

nav li{
  display: inline-block;
  margin-left: 40px;
  padding-top: 15px;
}

nav a{
  color: black;
  text-decoration: none;
  font-size:18px;
}

.welcome{
  margin-top: 50px;
  margin-left: 40px;
}

h3{
  font-size: 40px;
}

.it-2{
  color: green;
  margin-left: 5px;
}


.welcome-hr{
  margin-left: -40px;
  width: 26%;
 margin-top: 5px;
  border: 5px solid rgb(152, 0, 0, 1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.main {
  text-align: center;
  width: 800px;
  margin: 50px auto;
}

form {
  padding-top: 20px;
}

.content {
  margin-left: 115px;
  margin-top: 5px;
  width: 162px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

input.details {
  position: relative;
  left: 18px;
  top: -37px;
  width: 300px;
  line-height: 20px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px;
  font-size: 16px;
}

.forget {
  margin-top: -35px;
  margin-left: 225px;
  font-size: 15px;
}

input[type="submit"],button {
  width: 200px;
  margin-top: 10px;
  padding: 16px;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

.login {
  background-color: rgba(0, 105, 0, 1);
}

.signup {
  background-color: rgba(152, 0, 0, 1);
}

hr {
  margin-left: 115px;
  margin-top: 20px;
  width: 70%;
  border: 1px solid black;
}

.or {
  width: 40px;
  margin: -13px auto 10px;
  background-color: #fff;
}
